/*
COLORS

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
#f5f7fa

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-2: #f5f7fa;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #18191f;
  min-height: 100vh; }

.container {
  max-width: 100vw;
  margin: auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: #f5f7fa;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.logo {
  height: 2rem;
  margin-right: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav li {
    list-style: none; }
  .user-nav > * {
    padding: 0 1.6rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__icon-box {
    position: relative;
    text-decoration: none;
    color: #4caf4f;
    font-size: 1.5rem; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: var(--color-primary-2); }
  .lesson__text {
    display: flex;
    flex-direction: column;
    margin-left: 12rem; }
  .lesson__txt-1 {
    font-size: 4.5rem;
    color: #4d4d4d; }
  .lesson__txt-2 {
    font-size: 4.5rem;
    color: #4caf4f;
    margin-bottom: 12rem; }
  .lesson__illustration {
    display: flex;
    justify-content: flex-end;
    margin-right: 18rem; }

.clients {
  color: #515151;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1.6rem; }
  .clients-pg {
    color: #717171;
    margin-bottom: 2.8rem; }
    @media only screen and (max-width: 37.5em) {
      .clients-pg {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .clients-logos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem; }

.community {
  background-color: #ffffff;
  color: #4d4d4d;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5rem; }
  .community-pg {
    color: #717171;
    font-size: 1.7rem;
    margin-top: 0.5rem; }
  .community-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #4d4d4d;
    font-size: 1.3rem;
    margin-top: 3rem; }
    .community-cards-1 {
      border: 2px solid rgba(232, 229, 229, 0.2);
      border-radius: 15px;
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .community-cards-2 {
      border: 2px solid rgba(232, 229, 229, 0.2);
      border-radius: 15px;
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .community-cards-3 {
      border: 2px solid rgba(232, 229, 229, 0.2);
      border-radius: 15px;
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .community-cards-pg {
      color: #717171;
      font-size: 1.7rem; }

.pixel-section {
  color: #4d4d4d;
  font-size: 1.5rem; }
  .pixel-section-view {
    display: inline-block;
    vertical-align: top;
    margin-left: 16rem;
    margin-top: 4rem; }
  .pixel-section-heading {
    font-weight: 600; }
  .pixel-section-pg {
    color: #717171;
    font-size: 1.6rem;
    margin-top: 1.6rem; }
  .pixel-section-btn {
    margin-top: 2.5rem;
    padding: 1.4rem 3rem;
    background-color: #4caf4f;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: none; }
    .pixel-section-btn:hover {
      background-color: #4e9e51; }

.local-business {
  background-color: #f5f7fa;
  height: 30rem; }
  .local-business-h1 {
    font-size: 3.5rem;
    color: #4d4d4d;
    margin-left: 13rem;
    padding-top: 7rem; }
  .local-business-h2 {
    font-size: 3.5rem;
    color: #4caf4f;
    margin-left: 13rem; }
  .local-business-pg {
    font-size: 1.8rem;
    font-weight: 500;
    color: #18191f;
    margin-top: 0.7rem;
    margin-left: 13rem; }
  .local-business-info {
    margin-left: 75rem;
    margin-top: -15rem; }
    .local-business-info-p1 {
      font-size: 2.4rem;
      font-weight: 600;
      color: #4d4d4d;
      display: inline-block;
      vertical-align: top; }
    .local-business-info-p2 {
      font-size: 1.8rem;
      color: #717171;
      margin-left: 5rem;
      margin-top: -1.7rem;
      margin-bottom: 3rem; }

.local-business-info {
  margin-left: 75rem;
  margin-top: -15rem; }
  .local-business-info-p1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #4d4d4d;
    display: inline-block;
    vertical-align: top; }
  .local-business-info-p2 {
    font-size: 1.8rem;
    color: #717171;
    margin-left: 5rem;
    margin-top: -1.7rem;
    margin-bottom: 3rem; }

.design-section {
  color: #4d4d4d;
  font-size: 1.5rem; }
  .design-section-view {
    display: inline-block;
    vertical-align: top;
    margin-left: 16rem;
    margin-top: 4rem; }
  .design-section-heading {
    font-weight: 600; }
  .design-section-pg {
    color: #717171;
    font-size: 1.6rem;
    margin-top: 1.6rem; }
  .design-section-btn {
    margin-top: 2.5rem;
    padding: 1.4rem 3rem;
    background-color: #4caf4f;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: none; }
    .design-section-btn:hover {
      background-color: #4e9e51; }

.association-section {
  background-color: #f5f7fa;
  color: #4d4d4d;
  font-size: 1.5rem;
  height: 10.5%; }
  .association-section-view {
    display: inline-block;
    vertical-align: top;
    margin-left: 16rem; }
  .association-section-heading {
    font-weight: 600; }
  .association-section-pg {
    color: #717171;
    font-size: 1.6rem;
    margin-top: 1.6rem; }
  .association-section-img {
    visibility: hidden; }
  .association-section-p {
    margin-top: 1.2rem;
    color: #4caf4f;
    font-size: 1.8rem;
    font-weight: 600; }
  .association-section-p2 {
    color: #89939e;
    font-weight: 400;
    font-size: 1.4rem; }
  .association-section-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.8rem; }
  .association-section-txt {
    margin-top: 0.8rem;
    color: #4caf4f;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer; }
    .association-section-txt:hover {
      text-decoration: underline; }

.caring-section {
  background-color: #ffffff; }
  .caring-section-heading {
    color: #4d4d4d;
    font-size: 3.1rem;
    text-align: center;
    margin-top: 3.5rem; }
  .caring-section-p {
    color: #717171;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem; }
  .caring-section-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3rem; }
    .caring-section-cards-1 {
      background-color: #f5f7fa;
      border: 2px solid rgba(232, 229, 229, 0.2);
      border: none;
      border-radius: 15px;
      box-shadow: 10px 10px 10px rgba(129, 126, 126, 0.073);
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .caring-section-cards-2 {
      background-color: #f5f7fa;
      border: 2px solid rgba(232, 229, 229, 0.2);
      border: none;
      border-radius: 15px;
      box-shadow: 10px 10px 10px rgba(129, 126, 126, 0.073);
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .caring-section-cards-3 {
      background-color: #f5f7fa;
      border: 2px solid rgba(232, 229, 229, 0.2);
      border: none;
      border-radius: 15px;
      box-shadow: 10px 10px 10px rgba(129, 126, 126, 0.073);
      padding: 1.7rem 2.5rem;
      margin-bottom: 1rem; }
    .caring-section-cards-pg {
      color: #717171;
      font-size: 1.8rem;
      font-weight: bolder; }
    .caring-section-cards-txt {
      margin-top: 1.4rem;
      color: #4caf4f;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer; }
      .caring-section-cards-txt:hover {
        text-decoration: underline; }

.demo-section {
  background-color: #f5f7fa;
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #263238; }
  .demo-section-btn {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    padding: 1.3rem 4.5rem;
    background-color: #4caf4f;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: none; }
    .demo-section-btn:hover {
      background-color: #4e9e51; }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  background-color: #263238;
  margin-left: auto; }

.logo-and-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 50px;
  margin-left: 120px;
  margin-bottom: 80px; }

.logo-and-text p {
  margin-left: 40px;
  color: #f5f7fa;
  font-size: 1.6rem;
  margin-top: 1.5rem; }

.footer-items-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: auto; }

.footer-items {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 4px;
  margin-top: 1.5rem; }

.footer-items li {
  margin-right: 20px;
  color: #f5f7fa; }

.company-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  font-size: 1.4rem; }

.company-items li {
  padding: 6px;
  color: #f5f7fa; }

.footer-logo {
  margin-bottom: 10px;
  margin-left: 30px; }

.input-box {
  background-color: #515b60;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 100px;
  margin-right: 100px; }

.input-box::-webkit-input-placeholder {
  color: #d9dbe1; }

.signup-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf4f;
  border: none;
  color: white;
  border-radius: 5px; }
  .signup-btn:hover {
    background-color: #4e9e51; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.01);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
